.quote_list__div{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.quote_list__sorting{
    & .btn_sorting{
        background-color: #CA8787;
        color: #FDFFC2;
        padding: 10px 30px;
        font-size: 15px;
        font-weight: 400;

        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
}
}