.comment_div{
    background-color: #E1ACAC;
    
    width: 400px;
    height: 300px;
    position: relative;
    margin-top: 1rem;
    
    & .comment_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        gap: 1rem;
    }

    & .comment_btn{
        background-color: #2C4E80;
        padding: 5px;
        color: white;
    }
}